/*external styling*/
/*
	CSS Rules:
	selector {
		property:value;
	}

*/
body {
	background-color: skyblue;
}
html {
	/*smoothness of scroll*/
	scroll-behavior: smooth;
}

/*Universal Selector*/
*{
	font-family: "Courier New", monospace;
	font-size:20px;
}
/*Type selector*/
h1 {
	color:green !important;
	text-align: center;
	font-size: 2rem;
}



/*ID selector*/
#zuitt-motto {
	/* letter spacing property changes the spaces in between characterrs of a text	*/
	letter-spacing: 5px;
}

/*class selector*/
.offering-item {
/*text-transform property changes font to a certain case	*/
	text-transform: uppercase;
}

/*attribute selector*/
[required] {
/*thickness of the border	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
	/*opacity: 75%;*/

}
[required]:hover{
	/*opacity: 100%;*/
	border-width: 2px;
	border-style: solid;
	border-color: skyblue;
	column-width: 3px;

}


h3 {
	letter-spacing: 25px;
}

/*Selector Combinators*/
/*adjacent sibling*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius:150px;
}

/*Child selector*/
/*body> section > #bootcamp-learning-list > li {*/
body > #landing > #bootcamp-learning-list > .offering-item {
/*form > [autocomplete]	{*/
	color: #E0AE44;
	}

/*General Sibling Selector*/
h2 ~ a {
	text-decoration: none;

}
/*decendant selector*/
#register label {
/*section label {*/
	color: rgb(0,0,128;)
}
nav {
	background-color: darkblue;
}
nav>a,div>a{
	color: white;
	text-decoration: none;
	font-family: calibri;
	font-weight: bolder;
	border-radius: 15%;
	margin: 15px;
}
/*for the hover effect*/
a:hover {
	background-color: #1FDFAF;
	font-weight: bolder;

}
div {
	display: inline-block;
	float: right;
}
section{
	height: 100vh;
	text-align: center;
}
h2{
	font-size: 1.5rem;
}b
ol{
	list-style-type:none ;
}
/*h2 + form {*/
form{	
	text-align: center;
	background-color: blanchedalmond;
	position: relative;
	width: 25vw;
	height: 190px;
	border: 2px solid block;
	left: 37.5%;
	border-color: black;
	border-radius: 5%;

}
button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
	margin-top: 3px;
}
button:hover	{
	background-color: yellow;
	color: red;
	font-weight: bolder;
}

