p.external{
	 color: rgb(240, 255, 130);
}
*	{
	font-family: "calibri", monospace;
	font-size:1.2rem;
	margin-left: 20px;
}
h1{
	font-size: 2.5rem;
}
#css-intro{
	text-transform: uppercase;
}
.list_items{
	background: rgb(137, 190, 133);
}
[value]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	width: 90%;
}
img + ul{
	list-style-type:none ;
}
#tools img{
	height: 300px;
	width: 300px;
	border-radius:150px;
}
h3 ~ p {
	text-align: center;
}
ul > li{
	letter-spacing: 10px;
}

